*, *::before, *::after {  box-sizing: border-box; } /* Aktivieren des Border-Box-Modell für alle Elemente inkl. durch CSS erzeugte Inhalte in den Pseudoelementen ::before & ::after */

html { 
    scroll-behavior: smooth; /* Vermeiden von Collapsing Margins (zusammenfallende / kolllabierende Aussenabstände) */
    font-size: 62.5%; /* Root font size of browsers is 16px - if we set root fot size to 62.5% we get 10px and it's easier to calculate! */
}

/* ----------------------------------------------------------------------------- START font size and style ------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    font-family: 'Comic Sans MS', 'Sour Gummy', "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #3d3d3d;
}

a, button, p, span {
    font-size: 1.8rem;
    line-height: 1.8em;
}

h2 { font-size: 4rem; }
h3 { font-size: 3.2rem }

h1, h2 { line-height: 1em; }

h2 { padding-bottom: 1rem !important;}

@media screen and (min-width: 625px) and (max-width: 1134px) {
    a, button, p, span {
        font-size: 1.6rem;
        line-height: 1.6em;
    }
    
    h2 { font-size: 3rem; }
    h3 { font-size: 2.4rem }
}

@media screen and (max-width: 624px) {
    a, button, p, span {
        font-size: 1.4rem;
        line-height: 1.5em;
    }

    h2 { font-size: 2rem; }
    h3 { font-size: 1.7rem } 
}
/* ----------------------------------------------------------------------------- START font size and style ------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    background-size: cover !important;
    background-position: top !important;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
    overflow-x: hidden; /* Content that overflows the body element should be hidden! */
    hyphens: auto; /* Implementiert Silbentrennung */
    
}

a, body, button, blockquote div, h1, h2, h3, h4, h5, h6, html, img, li, p, span, ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

a, button, select, input[type=checkbox] { cursor: pointer; }

img {
    max-width: 100%;
    height: auto;
}

p { text-align: justify; /* Stellt Text im Blocksatz dar */ }


/* ----------------------------------------------------------------------------- START container fluid layout ------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-fluid {
    width: 80%;
    margin: auto;
    position: relative;
}

@media screen and (min-width: 984px) and (max-width: 1524px) {
    .container-fluid {
        width: 90%;
        margin: auto;
        position: relative;
    }
}

@media screen and (max-width: 624px) {
    /* Between 625px and 984px layouts switches again to width: 80% */
    .container-fluid {
        width: 90%;
        margin: auto;
        position: relative;
    }
}
/* ----------------------------------------------------------------------------- END container fluid layout ------------------------------------------------------------------------------------------------------------------------------------------------- */