/**
 * 1. Allgemeine Eninstellungen
*/

/* Aktivieren des Border-Box-Modell für alle Elemente inkl. durch CSS erzeugte Inhalte in den Pseudoelementen ::before & ::after */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Vermeiden von Collapsing Margins (zusammenfallende / kolllabierende Aussenabstände) */
h1, h2, h3, h4, h5, h6,
p, ol, ul, blockquote {
    margin-top: 0;
}

body {
    background-size: cover !important;
    background-position: top !important;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
}

html { scroll-behavior: smooth; }

a, body, button, div, h1, h2, h3, h4, h5, h6, html, img, li, p, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    vertical-align: baseline;
    background-color: transparent;
}

textarea {
    margin-block-end: 0;
}

/**
 * 2. Grundlegende Schrift- und Textgestaltung
*/
:root {
    --font-fallback: "-apple-system", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body, button {
    font-family: 'Comic Sans MS', 'Comic Sans', 'Sour Gummy', cursive;
    color: #3d3d3d;
    overflow-x: hidden;
    line-height: 1.8;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 10px;
    line-height: 1em;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.25rem }
h6 { font-size: 1rem; font-variant: small-caps; }

/**
  * 3. Elementselektoren
  */

a {
    text-decoration: none;
    color: #3d3d3d;
}

a, button, select {
    cursor: pointer;
}

article {
    display: block;
}

address {
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    width: 80%;
    margin: auto;
    position: relative;
}

@media screen and (min-width: 1135px) {
    .blocker {
        min-width: 33%;
    }
}

@media screen and (min-width: 753px) and (max-width: 1134px) {
    .blocker {
        min-width: 63%;
    }
}


