/**
 * 1. Allgemeine Eninstellungen
*/

/* Aktivieren des Border-Box-Modell für alle Elemente inkl. durch CSS erzeugte Inhalte in den Pseudoelementen ::before & ::after */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

/* Vermeiden von Collapsing Margins (zusammenfallende / kolllabierende Aussenabstände) */
h1, h2, h3, h4, h5, h6,
p, ol, ul, blockquote {
    margin-top: 0;
}

/**
 * 2. Grundlegende Schrift- und Textgestaltung
*/
body {
    margin: 0;
    font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.25rem }
h6 { font-size: 1rem; font-variant: small-caps; }

address {
    font-style: normal;
}