/* sour-gummy-v1-latin-regular */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sour-gummy-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sour-gummy-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sour-gummy-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* sour-gummy-v1-latin-italic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy Italic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sour-gummy-v1-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sour-gummy-v1-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sour-gummy-v1-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* sour-gummy-v1-latin-700 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy 700';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sour-gummy-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sour-gummy-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sour-gummy-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* comic_sans_ms_latin_regular */
@font-face {
  font-display: swap;
  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/comic_sans_ms_latin_regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/comic_sans_ms_latin_regular.ttf') format('truetype'), /* Safari, Android, iOS */ 
}

/* comic_sans_ms_latin_700 */
@font-face {
  font-display: swap;
  font-family: 'Comic Sans MS 700';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/comic_sans_ms_latin_700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/comic_sans_ms_latin_700.ttf') format('truetype'), /* Safari, Android, iOS */ 
}


