/* noto-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v38-latin-regular.woff2') format('woff2'), /* Modern browsers */
         url('../fonts/noto-sans-v38-latin-regular.ttf') format('truetype'); /* Old browsers */
}

/* noto-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-v38-latin-500.woff2') format('woff2'), /* Modern browsers */
         url('../fonts/noto-sans-v38-latin-500.ttf') format('truetype'); /* Old browsers */
}

/* noto-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-sans-v38-latin-600.woff2') format('woff2'), /* Modern browsers */
         url('../fonts/noto-sans-v38-latin-600.ttf') format('truetype'); /* Old browsers */
}