/* Properties to secure space that navigation bar (following elements) need */
#page-header {
    line-height: 1.5rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999; /* Secures that this container stays always in front of other components */
}

/* Enables flex layout for it's content (3 DIV's) */
.header-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.logo-container { margin: auto auto auto 0; } /* Logo sticks to the right of parent container but gets vertically centered */

#logo {
    width: 228px;
    height: 102px;
}

#logo-link { line-height: 0; }

.site-navigation {
    padding: 6rem 0;
    transition: padding 0.4s ease-in-out;
}

.fixed-header .site-navigation { padding: 4rem 0; } /* Decreasing value for smooth transition effect */

.menubutton {
    width: 100%;
    background: inherit;
    color: #000;
    font: inherit;
    text-align: center;
    padding: 0rem 1rem; 
    margin: 0;
    border: 0;
    display: none; /* Button standardly invisible */
}

.menubutton::before {
    display: inline-block;
    content: url(../img/icons/menuburger.svg);
    width: 1.5em;
    height: 1.5em;
}

.show-menu.menubutton::before { content: url(../img/icons/menuclose.svg); }

/* + is an adjacent selector - affects ul only when follows immediately on the show-menu class  */
.show-menu + ul {
    overflow: initial !important; /* Makes collapsed navigation visible */
    max-height: none; /* Reset limited height */
}

.site-navigation ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style: none;
    overflow: hidden;
}

.site-navigation a {
    display: inline-block;
    background: #fff;
    color: #3d3d3d;
    padding: 0.5rem;
}

.site-navigation span { padding-left: 0.5rem; } /* Increases the effect of centered elements in navigation */

/* Vertical layout: navigation content visible */
@media screen and (min-width: 1135px) {
    .site-navigation li { margin-right: 22px; }

    .site-navigation li:last-child { margin-right: 0 !important; } /* Affects only last li Item in ul */
}

/* Horizontal layout: navigation content collapsed */
@media screen and (max-width: 1134px) {
    .menubutton { display: inline-block; } /* Makes button and it's ::before content visible */

    .site-navigation ul {
        max-height: 0; /* Limit height of navigation content */
        flex-direction: column;
    }

    .space-between li:first-child { margin-top: 1.5rem; } /* Create space between collapsed menu button and site menu */

    .site-navigation a { display: block; }
}

/* Reduces size of site logo */
@media screen and (min-width: 625px) and (max-width: 1134px) {
    #logo {
        width: 183px;
        height: 82px;
    }
}

@media screen and (max-width: 624px) {
    #logo {
        width: 148px;
        height: 66px;
    }

    /* Layout on small devices (phones) */
    .site-navigation {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /* Decreasing value for smooth transition effect */
    .fixed-header .site-navigation {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}