#page-container {
    margin-top: -1px;
    /* padding-top: 13.5rem; */
    overflow-y: hidden;
}

.animation#page-container {
    transition: margin-top 0.4s ease-in-out;
}

.fadeIn#toTopBtn {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut#toTopBtn {
    animation: fadeOutAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Navigationsleiste */
#page-header {
    line-height: 1.5rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.fixed-header {
    top: 0;
    z-index: 200000;
}

.backToTopCont {
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 99;
    text-align: end;
}

.backToTopCont button {
    background-color: transparent;
    background-image: url('../img/icons/back_to_top_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain; /* What does this statement do? */
    border: none;
    min-width: 30px;
    min-height: 30px;
}

.logo-container {
    padding: 0.25rem;
    margin: auto auto auto 0;
    /* margin: auto; */
}

.builder-inner-content {
    position: relative;
    z-index: 1;
}

.pb-section {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    /* background-size: 100%;  */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3% 0;    
}

div.pb-section.pb-section-0 {
    background-image: url('../img/wallpaper_background.jpg') !important;
}

/* Decrease Space between Wallpaper Background and first Section */
.pb-section-1.pb-section {
    padding-top: 0rem;
}

.pb-section-2.pb-section, .pb-section-4.pb-section, .pb-section-6.pb-section {
    background-color: #BDCDD6;
}

.row::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}

.et-last-child {
    margin-bottom: 0 !important;
}

.pb-text h2{
    font-size: 50px;
    color: #ffffff !important;
    text-align: end;
    /* text-align: center; */
}

#slogan {
    color: #ffffff !important;
    text-align: end;
}

.pb-text > :last-child {
    padding-bottom: 0;
}

/* .sub-title {
    margin-bottom: 0.5rem;
} */

.offer {
    border: 1px solid #000;
    padding: 0.75rem;
    height: 100%;
}

.offer h3 {
    padding-bottom: 0 !important;
}

.offer .textForOffer {
    padding-top: 0.5rem;
}

.offer .sub-title p{
    /* font-size: 2.2rem; */
    color: #373737;
    opacity: 0.7;
    /* padding-bottom: 0 !important */
}

.enclosure {
    overflow: hidden;
}

.enclosure a {
    display: inline-block;
    height: 100% !important;
}

.pb-button {
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;
    padding: .3rem 1rem;
}

.site-footer {
    background-color: #BDCDD6;
    padding: 0.5rem;
}

.meta-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.meta-nav li {
    list-style: none;
    justify-content: space-evenly;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid black;
}

.meta-nav li:last-child {
    border: none;
}

.meta-nav p, .meta-nav a {
    font-size: 12px;
    color: #000;
}

.meta-nav a {
    font-weight: 600;
    text-decoration: none;
}

.meta-nav p {
    padding: 0;
    display: inline-block;
}

.portrait img {
    position: relative;
}

.center-image {
    display: grid;
    align-items: center;
    justify-items: center;
}

.form-contact {
    line-height: normal;
    max-width: 100%;
}

.form-contact select, input {
    min-height: 25px; /* to cover better the available area */
}

.form {
    border: 1px solid #000;
    padding: 1rem;
}

.field-wrapper {
    margin-bottom: 1rem;
}

.field-wrapper label {
    display: block;
    font-weight: 500;
}

.field-wrapper .field {
    display: inline-block;
}

.field-wrapper .textarea {
    width: 87.5%;
    margin-bottom: 0.5rem ;
}

.accept-data-privacy .checkbox {
    field-sizing: fixed;
    cursor: pointer;
}

.accept-data-privacy {
    margin-bottom: 0.5rem;
}

.accept-data-privacy a {
    color: #d06f25;
}

.text-field-required span {
    color: #592130;
}

.field-required {
    color: #790000;
    margin-left: 4px;
}

.pb-text-align-center h2 {
    text-align: center;
}

.pb-blurb-content {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    word-wrap: break-word;
    width: 100%;
}

.pb-blurb-content, pb-blurb-container {
    text-align: center;
}

.et_pb_main_blurb_image {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100%;
}

.et_pb_blurb .et_pb_image_wrap {
    display: block;
    margin: auto;
}

.pb-icon {
    border-radius: 100% 100% 100% 100%;
    overflow: hidden;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    background-color: #BDCDD6;

    font-size: 48px;
    color: #ffffff;
    font-family: ETmodules !important;
    font-weight: 400 !important;

    text-transform: none;
    line-height: 1;
    font-style: normal;
    display: inline-block;
    box-sizing: border-box;
    direction: ltr;
}

.pb-module-header {
    font-weight: 600;
    color: #000000 !important;
}

.row { padding: 2% 0; }

.container-slogan {
    padding: 2% 0;
    position: absolute;
    right: 5%;
    top: 15%;
}

.container-about-me {
    display: grid;
    row-gap: 1rem;
}

.container-offers-1, .container-offers-2 { 
    display: grid;
    row-gap: 1rem;
}

/* Title extends itself over full available width */
.section-heading {
    grid-column: 1/3;
}

@media screen and (min-width: 753px) {
    /**
     * Reset Settings
     */
     .field-wrapper .field {
        width: 75%;
     }

     .field-wrapper label {
        font-weight: 600;
    }

     .field-wrapper .inputfield {
        width: 100%;
     }

     .field-wrapper .email {
        width: 50%;
     }

     .field-wrapper .textarea {
        margin-bottom: 0;
     }

    .accept-data-privacy {
        margin-bottom: 0rem;
    }

    /**
     * Normal Settings
     */

    .pb-text h2{
        font-size: 65px;
    }

    /* .offer h3 {
        font-size: 30px;
    } */
     
    .pb-section-4 > .container-fluid {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        gap: 1rem;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }

    .entire-line {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 1524px) {
    .container-about-me {
        grid-template-columns: 1fr;
        column-gap: 6rem;
    }
}

@media screen and (min-width: 1525px) {
    .container-about-me {
        grid-template-columns: 1.25fr 1fr;
        column-gap: 1rem;
    }

    #portrait {
        width: 271px;
        height: 363px;
    }
}

@media screen and (min-width: 985px) and (max-width: 1524px){
    #portrait {
        width: 224px;
        height: 300px;
    }
}

/* Layout 2 vertically */
@media screen and (max-width: 1134px) {
    .container-offers-1, .container-offers-2 {
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
    }

    .container-offers-1 .first-btn, .container-offers-2 .first-btn {
        grid-row: 3;
        margin-bottom: 1rem;
    }

    .offer, .sub-title p, .first-btn, .second-btn {
        text-align: center;
    }

    .container-offers-1 .section-heading, .container-offers-2 .section-heading {
        grid-column: 1/1;
        text-align: center;
    }
}

/* Layout 1 horizontally */
@media screen and (min-width: 1135px) {
    .container-offers-1, .container-offers-2 {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
}

/* Layout 2 vertically */
@media screen and (max-width: 984px) {
    .container-about-me .section-heading {
        grid-column: 1/1;
    }

    .container-about-me .section-heading, .container-contact-btn {
        text-align: center;
    }
    
    .container-about-me .portrait {
        grid-row: 2;
        margin-bottom: 1.5rem;
    }

    .container-about-me .text-portrait {
        border: 1px solid #000;
        padding: 0.75rem;
    }
}

@media screen and (min-width: 984px) {
    .pb-text h2 {
        font-size: 75px !important;
    }

    .container-about-me .contact-btn {
        margin-top: 1rem;
    }
}

.hidden {
    display: none;
}

.toTopBtn {
    opacity: 0;
    transition: opacity 3s;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3rem;
    padding: 0 5rem;
}

div.pb-section.pb-section-0{ min-height: 25vw; }
#slogan{ font-size: 3vw; }
#page-container { padding-top: 13.5rem; }

/* Dynamischer Teil */
@media screen and (min-width: 1135px) {
    .offer .sub-title p{ font-size: 2.2rem; }
}

@media screen and (min-width: 625px) and (max-width: 1134px) {
    .offer .sub-title p{ font-size: 1.7rem; }
}


@media screen and (max-width: 624px) {
    .offer .sub-title p{ 
        font-size: 1.4rem; 
        text-align: center;
    }
    
    .section-heading, .offer {
        text-align: center;
    }

    #section-after-wallpaper { margin-top: 1rem; }

    div.pb-section.pb-section-0 { min-height: calc(0.66 * 100vw); }

    #slogan{ font-size: 4vw; }
    
    #page-container { padding-top: 8.5rem; }
}