/* Layout */
#page-container {
    margin-top: -1px;
    padding-top: 13.5rem;
    overflow-y: hidden;
}

/* Layout */
.animation#page-container { transition: margin-top 0.4s ease-in-out; }

.fadeIn#toTopBtn {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

.fadeOut#toTopBtn {
    animation: fadeOutAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

.fixed-header {
    top: 0;
    z-index: 200000;
}

.backToTopCont {
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 99;
    text-align: end;
}

.backToTopCont button {
    background-color: transparent;
    background-image: url('../img/icons/back_to_top_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain; /* What does this statement do? */
    border: none;
    min-width: 30px;
    min-height: 30px;
}

.builder-inner-content {
    position: relative;
    z-index: 1;
}

/* Basic settings for six page-sections */
.page-section {
    position: relative; /* Affects slogan if not set slogan jumps as site is being scrolled */
    padding: 3% 0;
    background-color: #fff;
}

.section-colored { background-color: #BDCDD6; }

.row::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}

.pb-text h2{
    font-size: 50px;
    color: #ffffff !important;
    text-align: end;
}

.pb-text > :last-child { padding-bottom: 0; }

.pb-button {
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;
}

.site-footer {
    background-color: #BDCDD6;
    padding: 0.5rem;
}

.meta-nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    align-items: center; /* Vertical Alignment */
}

.meta-nav li {
    list-style: none;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid black;
}

.meta-nav li:last-child { border: none; }

.meta-nav p, .meta-nav a {
    font-size: 12px;
    color: #000;
}

.meta-nav a {
    font-weight: 600;
    text-decoration: none;
}

.meta-nav p {
    padding: 0;
    display: inline-block;
    overflow-wrap: anywhere;
    height: fit-content;
}

.et_pb_main_blurb_image {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100%;
}

.et_pb_blurb .et_pb_image_wrap {
    display: block;
    margin: auto;
}

.row { padding: 2% 0; }

/* General settings for sections and elements using grid layouts */
.grid-layout {
    display: grid;
    row-gap: 1rem;
}

.flex-layout { display: flex; }

@media screen and (min-width: 984px) {
    /* Title extends itself over full available width */
    .section-heading { grid-column: 1/3; }
}

/* .blocker-li-item {
    min-width: 30%;
} */

.container-copyright {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

/* Is being unsed in section about me to separate better some parts of the text */
.txt-with-lBreaks { margin-bottom: 0.6em; }

/* Contact Form Styling ONLY! 802 */
@media screen and (max-width: 624px) {
    #no-padding-right { padding-right: 0; }
}

/* Layout 1 horizontally */
@media screen and (min-width: 1135px) {
    .pb-button { padding: .3rem 1rem; }
}

@media screen and (min-width: 984px) {
    .pb-text h2 { font-size: 75px !important; }

    /* Über mich Abschnitt */
    .container-about-me .contact-btn { margin-top: 1rem; }
}

.hidden { display: none; }

.toTopBtn {
    opacity: 0;
    transition: opacity 3s;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3rem;
    padding: 0 5rem;
}

/* Dynamischer Teil */
@media screen and (min-width: 625px) and (max-width: 1134px) {
    .pb-button { padding: .3rem 1rem; }
}

@media screen and (max-width: 624px) {
    .section-heading, .offer { text-align: center; }

    #section-after-wallpaper { margin-top: 1rem; }
    
    /* Layout */
    #page-container { padding-top: 8.5rem; }

    .pb-button { padding: .6rem 1rem; }
}

@media screen and (max-width: 380px) {
    .container-copyright { flex-direction: column; }
}