#page-container {
    margin-top: -1px;
    padding-top: 135px;
    overflow-y: hidden;
}

.animated-content#page-container {
    transition: margin-top 0.4s ease-in-out;
}

/* Navigationsleiste */
#main-header {
    line-height: 1.5rem;
    font-weight: 500;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.fixed-header {
    top: 0;
    z-index: 200000;
}

.container-fluid {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    /* text-align: left; */
    position: relative;

    /* margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px; */
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.top-navigation img {
    vertical-align: middle;
    margin-right: 0.5rem; /* kann auch .5rem geschrieben werden */
}

.logo-container {
    display: inline-block;
    vertical-align: middle;
    width: 16%;
    border: 1px solid #000;
    padding: 0.25rem;
}

/* Navigationsbereich mit Inhalt */
.top-menu-nav {
    display: inline-block;
    padding: 60px 0 0 0;
    width: 84%;
    text-align: end;
    transition: all 0.4s ease-in-out;
}

.top-menu-nav li {
    display: inline-block;
    padding-right: 22px;
}

.top-menu-nav li > a {
    display: inline-block;
    position: relative;
    /* font-size: 18px; */
    padding-bottom: 60px;
}

.fixed-header .top-menu-nav {
    padding: 40px 0 0 0;
}

.fixed-header .top-menu-nav li > a {
    padding-bottom: 40px;
}

#main-content {
    background-color: transparent;
}

.builder-inner-content {
    position: relative;
    z-index: 1;
}

.pb-section {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    /* background-size: 100%;  */
    background-size: cover;
    background-repeat: no-repeat;

    /* padding wird später in @media (min-width: 981px) spezifiziert */
    padding: 3% 0;    
}

div.pb-section.pb-section-0 { 
    background-image: url(https://joia-da-foia.com/wp-content/uploads/2022/10/joia-da-foia-bed-breakfast-monchique-algarve-01.jpg) !important;   
}

.pb-section-0.pb-section {
    padding-top: 17vw;
    padding-bottom: 3vw;
}

.pb-section-1.pb-section {
    /* background-color: #FFFBEB; */
}

.pb-section-2.pb-section {
    /* padding-top: 2%; */
}

.pb-section-3.pb-section {
    /* background-color: #FFFBEB; */
}

.pb-section-5.pb-section {
    /* background-color: #BDCDD6; */
}

.pb-section-2.pb-section, .pb-section-4.pb-section, .pb-section-6.pb-section {
    background-color: #BDCDD6;
}

.pb-row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;

    /* padding wird später in @media (min-width: 981px) spezifiziert */
    padding: 2% 0;
}

.pb-row::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}

.pb-column {
    float: left;
    position: relative;
    z-index: 2;
    min-height: 1px;

    width: 100%;
}

.pb-column, .pb-row {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.pb-column.et-last-child {
    margin-right: 0 !important;
}

.pb-module, .pb-with-background {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.pb-text {
    word-wrap: break-word;
}

.pb-text h2{
    font-size: 80px;
    color: #ffffff !important;
    text-align: center;
}

.slogan {
    color: #fff !important;
    text-align: center;
}

.pb-text > :last-child {
    padding-bottom: 0;
}

.pb-text-inner {
    position: relative;
}

.pb-row-1.pb-row {
    padding-bottom: 10px !important;
}

.pb-column-1-2 {
    width: 47.25%;
    margin-right: 5.5%;
}

.pb-column-1-2-copy {
    width: 25%;
    margin-right: 5.5%;
}

.offer {
    border: 1px solid #000;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.offer-copy {
    border: 1px solid #000;
    padding: 2rem;
    margin-bottom: 0.5rem;
    /* text-align: center; */

    height: 150px;
}

.offer-copy h3 {
    font-size: 40px;
}

.offer.pb-first-child {
    /* margin-bottom: 3rem; */
}

/* .offer p {
    margin-bottom: 1rem;
} */

.pb-button {
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;

    padding: .3rem 1rem;
    line-height: 1.7em !important;
}

.pb-button-copy {
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;

    padding: .3rem 1rem !important;
    /* line-height: 1.7 !important; */

    display: inline-block;
    width: 100%;
    text-align: center;
}

.footer-nav {
    background-color: #BDCDD6;
    padding: 0.5rem;
}

/* .meta-nav {
    vertical-align: middle;
    float: left;
    width: 100%;
    line-height: 0;
} */

.meta-nav li {
    display: inline-block;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid black;
}

.meta-nav li:last-child {
    border: none;
}

.meta-nav p, .meta-nav a {
    font-size: smaller;
    color: #000;
}

.meta-nav a {
    font-weight: 700;
    text-decoration: none;
}

.meta-nav p {
    padding: 0;
    display: inline-block;
}

.portrait {
    position: absolute;
    width: 100%;
    height: 100%;

    /* display: inline-block;
    border: 1px solid #000;
    width: 24.5%;
    margin-right: 5.5% */
}

.portrait img {
    position: relative;
}

#portrait {
    max-height: 100%;
    /* width: auto; */
    /* max-width: 30%; */
    margin-bottom: 0;
    display: inline-block;
    float: none;
    vertical-align: middle;
    /* border: 1px solid #000; */

}

span.portrait-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.description {
    border: 1px solid #000;
    margin-left: 47.25%;
    float: right;
    padding: 0.5rem;

    /* display: inline-block;
    border: 1px solid #000;
    max-width: 70%; */
}

.cv-button {
    /* margin-top: 0.5rem; */
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;

    padding: .3rem 1rem;
    line-height: 1.7em !important;
    margin-left: 47.25%;
}

.column-cv-button {
    margin-top: 1rem;
}

.form-contact {
    line-height: normal;
    max-width: 100%;
}

.field-wrapper {
    margin-bottom: 1rem;
}

.field-wrapper label {
    display: block;
}

.field-wrapper .field {
    display: inline-block;
    width: 50%;
}

.field-wrapper .email, .field-wrapper .textarea {
    width: 50%;
}

.pb-module.pb-text-align-center {
    text-align: center;
}

.pb-text-15 h2 {
    font-size: 40px;
    color: #000000 !important;
    text-align: center;
}

.pb-column-1-3 {
    width: 29.6667%;
    margin-right: 5.5%;
}

.pb-blurb-content {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    word-wrap: break-word;
    width: 100%;
}

.pb-blurb-content, pb-blurb-container {
    text-align: center;
}

.et_pb_main_blurb_image {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100%;
}

.et_pb_blurb .et_pb_image_wrap {
    display: block;
    margin: auto;
}

.pb-icon {
    border-radius: 100% 100% 100% 100%;
    overflow: hidden;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    background-color: #FFA500;

    font-size: 48px;
    color: #ffffff;
    font-family: ETmodules !important;
    font-weight: 400 !important;

    text-transform: none;
    line-height: 1;
    font-style: normal;
    display: inline-block;
    box-sizing: border-box;
    direction: ltr;
}

.pb-module-header {
    font-weight: 600;
    color: #000000 !important;
}