#page-container {
    margin-top: -1px;
    padding-top: 135px;
    overflow-y: hidden;
}

.animated-content#page-container {
    transition: margin-top 0.4s ease-in-out;
}

/* Navigationsleiste */
#main-header {
    line-height: 1.5rem;
    font-weight: 500;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.fixed-header {
    top: 0;
    z-index: 200000;
}

.container-fluid {
    width: 80%;
    margin: auto;
    position: relative;
}

.backToTopCont {
    position: fixed;
    right: 3%;
    z-index: 99;
    text-align: end;
}

.backToTopCont button {
    background-color: transparent;
    background-image: url('../img/icons/back_to_top_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain; /* What does this statement do? */
    border: none;
    width: 30px;
    height: 30px;
}
.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.logo-container {
    padding: 0.25rem;
    margin: auto auto auto 0;
}

.builder-inner-content {
    position: relative;
    z-index: 1;
}

.pb-section {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    /* background-size: 100%;  */
    background-size: cover;
    background-repeat: no-repeat;

    /* padding wird später in @media (min-width: 981px) spezifiziert */
    padding: 3% 0;    
}

div.pb-section.pb-section-0 { 
    background-image: url('../img/Wallpaper_background.JPG') !important;
}

.pb-section-0.pb-section {
    padding-top: 17vw;
    padding-bottom: 8vw;
}

.pb-section-1.pb-section {
    padding-top: 0rem;
    /* background-color: #FFFBEB; */
}

.pb-section-3.pb-section {
    /* background-color: #FFFBEB; */
}

.pb-section-5.pb-section {
    /* background-color: #BDCDD6; */
}

.pb-section-2.pb-section, .pb-section-4.pb-section, .pb-section-6.pb-section {
    background-color: #BDCDD6;
}

.pb-row::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}

.pb-column, .pb-row {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.et-last-child {
    margin-bottom: 0 !important;
}

.pb-module, .pb-with-background {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.pb-text h2{
    font-size: 50px;
    color: #ffffff !important;
    text-align: end;
    /* text-align: center; */
}

.slogan {
    color: #fff !important;
    margin-bottom: 1rem;
    /* text-align: center; */
}

.slogan h2 {
    font-size: 65px;
    color: #ffffff !important;
    text-align: end;
}

.pb-text > :last-child {
    padding-bottom: 0;
}

/* .sub-title {
    margin-bottom: 0.5rem;
} */

.offer {
    border: 1px solid #000;
    padding: 0.5rem;
    height: 100%;
}

.offer h3 {
    font-size: 20px;
    padding-bottom: 0 !important;
}

.offer .textForOffer {
    padding-top: 0.5rem;
}

.offer .sub-title p{
    /* font-size: 32px; */
    /* padding-bottom: 0 !important */
}

.enclosure {
    overflow: hidden;
}

.enclosure a {
    display: inline-block;
    height: 100% !important;
}

.pb-button {
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;
    padding: .3rem 1rem;
    line-height: 1.7em !important;
}

.site-footer {
    background-color: #BDCDD6;
    padding: 0.5rem;
}

.meta-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.meta-nav li {
    list-style: none;
    justify-content: space-evenly;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid black;
}

.meta-nav li:last-child {
    border: none;
}

.meta-nav p, .meta-nav a {
    font-size: 12px;
    color: #000;
}

.meta-nav a {
    font-weight: 600;
    text-decoration: none;
}

.meta-nav p {
    padding: 0;
    display: inline-block;
}

.portrait img {
    position: relative;
}

.text-portrait {
    margin-bottom: 1rem;
}

.center-image {
    display: grid;
    align-items: center;
    justify-items: center;
}

.form-contact {
    line-height: normal;
    max-width: 100%;
}

.form {
    border: 1px solid #000;
    padding: 1rem;
}

.field-wrapper {
    margin-bottom: 1rem;
}

.field-wrapper label {
    display: block;
    font-weight: 500;
}

.field-wrapper .field {
    display: inline-block;
    width: 100%;
}

.field-wrapper .inputfield {
    width: 50%;
}

.field-wrapper .email {
    width: 50%;
}

.field-wrapper .textarea {
    width: 87.5%;
    margin-bottom: 0.5rem ;
}

.accept-data-privacy {
    margin-bottom: 0.5rem;
}

.accept-data-privacy a {
    color: #d06f25;
}

.text-field-required span {
    color: #592130;
}

.field-required {
    color: #790000;
    margin-left: 4px;
}

.pb-text-align-center h1 {
    text-align: center;
}

.pb-blurb-content {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    word-wrap: break-word;
    width: 100%;
}

.pb-blurb-content, pb-blurb-container {
    text-align: center;
}

.et_pb_main_blurb_image {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100%;
}

.et_pb_blurb .et_pb_image_wrap {
    display: block;
    margin: auto;
}

.pb-icon {
    border-radius: 100% 100% 100% 100%;
    overflow: hidden;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    background-color: #BDCDD6;

    font-size: 48px;
    color: #ffffff;
    font-family: ETmodules !important;
    font-weight: 400 !important;

    text-transform: none;
    line-height: 1;
    font-style: normal;
    display: inline-block;
    box-sizing: border-box;
    direction: ltr;
}

.pb-module-header {
    font-weight: 600;
    color: #000000 !important;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
}

.section-heading-title h1 {
    font-size: 25px;
}

.pb-row {
    /* padding wird später in @media (min-width: 981px) spezifiziert */
    padding: 2% 0;
}

.pb-row-0 {
    position: absolute;
    right: 5%;
    top: 15%;
}

.pb-section-1 > .container-fluid, .pb-section-2 > .container-fluid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.pb-section-3 > .container-fluid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.portrait {
    grid-row: 2/3;
}

@media screen and (min-width: 753px) {
    /**
     * Reset Settings
     */
     .field-wrapper .field {
        width: 75%;
     }

     .field-wrapper label {
        font-weight: 600;
    }

     .field-wrapper .inputfield {
        width: 100%;
     }

     .field-wrapper .email {
        width: 50%;
     }

     .field-wrapper .textarea {
        margin-bottom: 0;
     }

    .accept-data-privacy {
        margin-bottom: 0rem;
    }

    .pb-button-1 {
        grid-row: auto;
        margin-bottom: 0;
    }

    .portrait {
        grid-row: auto;
    }

    /**
     * Normal Settings
     */

    .pb-text h2{
        font-size: 65px;
    }

    .section-heading-title h1 {
        font-size: 35px;
    }

    .offer h3 {
        font-size: 30px;
    }

    .pb-section-1 > .container-fluid, .pb-section-2 > .container-fluid {
        column-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }

    .pb-section-3 > .container-fluid {
        grid-template-columns: 1.25fr 1fr;
        column-gap: 1rem;
    }

    .pb-section-4 > .container-fluid {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        gap: 1rem;
    }

    .section-heading {
        grid-column: 1/3;
    }

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }

    .entire-line {
        grid-column: 1/3;
    }
}

@media screen and (min-width: 984px) {
    .pb-section-1 > .container-fluid, .pb-section-2 > .container-fluid {
        column-gap: 5rem;
    }

    .pb-text h2 {
        font-size: 75px !important;
    }

    .section-heading-title h1 {
        font-size: 40px !important;
    }
}

@media screen and (min-width: 525px) {
    .pb-section-5 > .container-fluid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
    }
    
    .section-heading-icons {
        grid-column: 1/4;
    }
}