/* Navigationsbereich mit Inhalt */

@media screen and (min-width: 980px) {
    .top-menu-nav {
        
    }

    .top-menu-nav ul {
        max-height: none !important;
        flex-direction: row !important;
        justify-content: flex-end;
        padding: 0;
    }

    .top-menu-nav li:last-child {
        margin-right: 0 !important;
    }

    .top-menu-nav li {
        /* flex: 1; */
        /* max-width: 10rem;
        text-align: center; */

        display: inline-block;
        margin-right: 22px;
    }
    
    .top-menu-nav a {
        display: inline-block;
        position: relative;
        padding-bottom: 60px !important;
        text-align: end;
        margin-right: 0 !important;
    }

    .menubutton {display: none !important }

}

.top-menu-nav {
    position: static;
    padding: 60px 0 0 0;
    transition: all 0.4s ease-in-out;
}

.top-menu-nav button {
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 60px;
    transition: padding-bottom 0.4s;
}

.top-menu-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-menu-nav ul {
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.top-menu-nav a {
    display: block;
    text-decoration: none;
    background: #fff;
    color: #3d3d3d;
    padding: 0.5rem 1rem;
    margin-right: -1rem;
}

.menubutton {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: inherit;
    color: #000;
    font: inherit;
    text-align: center;
    padding: 0.5rem 1rem; border: 0; margin: 0;
}

.menubutton::before {
    content: url(../img/icons/menuburger.svg);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
}

.showmenu {
    /* padding-bottom: 40px !important; */
    /* justify-content: flex-start !important; */
}

.showmenu + ul {
    /* max-height: 100rem; */
    transition: max-height 0.4s;
    overflow: initial;
}

.showmenu.menubutton::before {
    content: url(../img/icons/menuclose.svg);
}

/* .top-menu-nav {
    display: inline-block;
    padding: 60px 0 0 0;
    width: 84%;
    text-align: end;
    transition: all 0.4s ease-in-out;
}

.top-menu-nav li {
    display: inline-block;
    padding-right: 22px;
}

.top-menu-nav li > a {
    display: inline-block;
    position: relative;
    padding-bottom: 60px;
} */