/* Navigationsbereich mit Inhalt */
@media screen and (min-width: 980px) {
    .top-menu-nav ul {
        max-height: none !important;
        flex-direction: row !important;
        justify-content: flex-end;
        padding: 0;
    }

    .top-menu-nav li:last-child {
        margin-right: 0 !important;
    }

    .top-menu-nav li {
        display: inline-block;
        margin-right: 22px;
    }
    
    nav.top-menu-nav a {
        display: inline-block;
        position: relative;
        padding-bottom: 60px;
        text-align: end;
        margin-right: 0 !important;
        transition: padding-bottom 0.4s ease-in-out;   
    }

    /* collapsed navbar */
    .fixed-header .top-menu-nav a {
        padding-bottom: 40px;
    }

    .menubutton {display: none !important }
}

.top-menu-nav {
    position: static;
    padding: 60px 0 0 0;
    transition: padding 0.4s ease-in-out;
}

.top-menu-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
}

.top-menu-nav ul {
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.top-menu-nav a {
    display: block;
    text-decoration: none;
    background: #fff;
    color: #3d3d3d;
    padding: 0.5rem 1rem;
    margin-right: -1rem;
    cursor: pointer;
}

/* collapsed navbar */
.fixed-header .top-menu-nav {
    padding: 40px 0 0 0;
}

.top-menu-nav button {
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 60px;
    transition: padding-bottom 0.4s ease-in-out;
}

.fixed-header .menubutton {
    padding-bottom: 40px;
}

.menubutton {
    display: flex;
    align-items: center;
    background: inherit;
    color: #000;
    font: inherit;
    text-align: center;
    padding: 0.5rem 1rem; border: 0; margin: 0;
}

.menubutton::before {
    content: url(../img/icons/menuburger.svg);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
}

.showmenu + ul {
    overflow: initial;
}

.showmenu.menubutton::before {
    content: url(../img/icons/menuclose.svg);
}