/* Navigation Section with Content */
@media screen and (min-width: 1135px) {
    .top-menu-nav ul {
        max-height: none !important;
        flex-direction: row !important;
        justify-content: flex-end;
        padding: 0;
    }

    .top-menu-nav li {
        display: inline-block;
        margin-right: 22px;
    }

    /* Affects only last li Item in ul */
    .top-menu-nav li:last-child {
        margin-right: 0 !important;
    }
    
    nav.top-menu-nav a {
        display: inline-block;
        position: relative;
        padding-bottom: 60px;
        text-align: end;
        margin-right: 0 !important;
        transition: padding-bottom 0.4s ease-in-out;   
    }

    /* Fixed Navbar: decrease padding of Links in Navigation */
    .fixed-header .top-menu-nav a {
        padding-bottom: 40px;
    }

    .menubutton {display: none !important }
}

/* Is being used with every Viewport width! */
.top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.top-menu-nav {
    /* position: static; */
     /* Why was Position set static? */
    transition: padding-top 0.4s ease-in-out;
}

.top-menu-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
}

.top-menu-nav a {
    display: block;
    background: #fff;
    color: #3d3d3d;
    padding: 0.5rem;
}

.top-menu-nav button {
    width: 100%;
    /* justify-content: flex-end; */
    
    transition: padding 0.4s ease-in-out;
}



.menubutton {
    /* display: flex;
    align-items: center; */
    background: inherit;
    color: #000;
    font: inherit;
    text-align: center;
    padding: 0rem 1rem; 
    border: 0; 
    margin: 0;
}

.menubutton::before {
    display: inline-block;
    content: url(../img/icons/menuburger.svg);
    width: 1.5em;
    height: 1.5em;
    /* margin-right: 1.1em; */
}

.showmenu + ul {
    overflow: initial;
}

.showmenu.menubutton::before {
    content: url(../img/icons/menuclose.svg);
}

#logo-link {
    line-height: 0;
}

@media screen and (min-width: 625px) {
    .top-menu-nav {
        padding-top: 6rem;
        /* padding: 60px 0 0 0; */
    }

    /* Collapsed Navbar */
    .fixed-header .top-menu-nav {
        padding-top: 4rem;
    }

    .top-menu-nav button {
        padding-bottom: 6rem;
    }

    /* Collapsed Navbar */
    .fixed-header button {
        padding-bottom: 4rem;
    }

    
}

@media screen and (max-width: 624px) {
    .top-menu-nav {
        padding-top: 4rem;
        /* padding: 60px 0 0 0; */
    }

    /* Collapsed Navbar */
    .fixed-header .top-menu-nav {
        padding-top: 3rem;
    }

    .top-menu-nav button {
        padding-bottom: 4rem;
    }

    /* Collapsed Navbar */
    .fixed-header button {
        padding-bottom: 3rem;
    }

    /* #logo {
        width: ;
        height: ;
    } */
}