.flex-layout.container-icons { justify-content: center; }

.container-skillset h2, .container-skill { text-align: center; }

.container-icons { margin-top: 2.5rem; } /* Add space between title and skill-icons */

.container-icon {
    display: inline-block;
    overflow: hidden;
    padding: 25px !important;
    background-color: #BDCDD6;
    border-radius: 100% 100% 100% 100%; /* Does round circle effect */
    line-height: 1;
}

.skill-definition {
    font-weight: 600;
    color: #000000 !important;
}

@media screen and (min-width: 625px) {
    .flex-layout.container-icons { column-gap: 5%; } /* Only required when layout is row (default) */
}

@media screen and (max-width: 624px) {
    .container-skillset{ padding: 2% 0; } /* Enlarge space-separation to top and bottom section */

    .container-skillset h2 { line-height: 1.2em; }

    .flex-layout.container-icons { 
        flex-direction: column; /* Switch to column layout */
        row-gap: 2rem;
    }
}