/* ----------------------------------------------------------------------------- @import url(font.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSans_VariableFont.ttf') format('truetype'), /* Safari, Android, iOS */ 
}

/* ----------------------------------------------------------------------------- @import url(base.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after {  box-sizing: border-box; } /* Aktivieren des Border-Box-Modell für alle Elemente inkl. durch CSS erzeugte Inhalte in den Pseudoelementen ::before & ::after */

html { 
    scroll-behavior: smooth; /* Vermeiden von Collapsing Margins (zusammenfallende / kolllabierende Aussenabstände) */
    font-size: 62.5%; /* Root font size of browsers is 16px - if we set root fot size to 62.5% we get 10px and it's easier to calculate! */
}

/* ----------------------------------------------------------------------------- START font size and style ------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    font-family: 'Noto Sans', 'Segoe UI', '-apple-system, BlinkMacSystemFont', serif;
    color: #3d3d3d;
}

a, button, label, p, span {
    font-size: 2rem;
    line-height: 1.8em;
}

h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }

h1, h2 { line-height: 1em; }

h1, h2, h3 { font-weight: 600 !important; }

h2 { padding-bottom: 1rem !important;}

@media screen and (min-width: 1135px) and (max-width: 1524px) {
    a, button, label, p, span { font-size: 1.8rem; }
}

@media screen and (min-width: 625px) and (max-width: 1134px) {
    a, button, label, p, span {
        font-size: 1.6rem;
        line-height: 1.6em;
    }
    
    h2 { font-size: 3rem; }
    h3 { font-size: 2.4rem }
}

@media screen and (max-width: 624px) {
    a, button, label, p, span {
        font-size: 1.4rem;
        line-height: 1.5em;
    }

    h2 { font-size: 2rem; }
    h3 { font-size: 1.7rem } 
}
/* ----------------------------------------------------------------------------- START font size and style ------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    background-size: cover !important;
    background-position: top !important;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
    overflow-x: hidden; /* Content that overflows the body element should be hidden! */
    hyphens: auto; /* Implementiert Silbentrennung */
    
}

a, body, button, blockquote div, h1, h2, h3, h4, h5, h6, html, img, li, p, span, ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

a, button, select, input[type=checkbox] { cursor: pointer; }

/* Ensure img scale down if they have to, but never scale up to be larger than it's original size! */
img {
    max-width: 100%;
    height: auto;
}

p { text-align: justify; /* Stellt Text im Blocksatz dar */ }


/* ----------------------------------------------------------------------------- START container fluid layout ------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-fluid {
    width: 80%;
    margin: auto;
    position: relative;
}

@media screen and (min-width: 984px) and (max-width: 1524px) {
    .container-fluid {
        width: 90%;
        margin: auto;
        position: relative;
    }
}

@media screen and (max-width: 624px) {
    /* Between 625px and 984px layouts switches again to width: 80% */
    .container-fluid {
        width: 90%;
        margin: auto;
        position: relative;
    }
}
/* ----------------------------------------------------------------------------- END container fluid layout ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- @import url(header-responsive.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Properties to secure space that navigation bar (following elements) need */
#page-header {
    line-height: 1.5rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999; /* Secures that this container stays always in front of other components */
}

.flex-layout.header-content-wrapper { justify-content: space-between; }

.logo-container { margin: auto 0; } /* Logo vertically centered */

#logo {
    width: 228px;
    height: 102px;
}

#logo-link { line-height: 0; }

.site-navigation {
    padding: 6rem 0;
    transition: padding 0.4s ease-in-out;
}

.site-navigation .flex-layout {
    column-gap: 2rem;
    list-style: none;
    overflow: hidden; /* If not set site-navigation does not hide when button is clicked on collapsed navigation view (small devices) */
}

.fixed-header .site-navigation { padding: 4rem 0; } /* Decreasing value for smooth transition effect */

.menubutton {
    width: 100%;
    background: inherit;
    color: #000;
    font: inherit;
    text-align: center;
    padding: 0rem 1rem; 
    margin: 0;
    border: 0;
    display: none; /* Button standardly invisible */
}

.menubutton::before {
    display: inline-block;
    content: url(../img/icons/menuburger.svg);
    vertical-align: middle; /* Vertically centered */
    width: 2.5em;
    height: 2.5em;
}

@media screen and (max-width: 624px) {
    .menubutton::before {
        width: 2em;
        height: 2.5em;
    }
}

.show-menu.menubutton::before { content: url(../img/icons/menuclose.svg); }

/* + is an adjacent selector - affects ul only when follows immediately on the show-menu class  */
.show-menu + ul {
    overflow: initial !important; /* Makes collapsed navigation visible */
    max-height: none; /* Reset limited height */
}

.site-navigation a {
    display: inline-block;
    background: #fff;
    color: #3d3d3d;
    padding: 0.5rem;
}

.site-navigation span { padding-left: 0.5rem; } /* Increases the effect of centered elements in navigation */

/* Horizontal layout: navigation content collapsed */
@media screen and (max-width: 1134px) {
    .menubutton { display: inline-block; } /* Makes button and it's ::before content visible */

    .site-navigation ul {
        max-height: 0; /* Limit height of navigation content */
        flex-direction: column;
    }

    .space-between li:first-child { margin-top: 1.5rem; } /* Create space between collapsed menu button and site menu */

    .site-navigation a { display: block; }
}

/* Reduces size of site logo */
@media screen and (min-width: 625px) and (max-width: 1134px) {
    #logo {
        width: 183px;
        height: 82px;
    }
}

@media screen and (max-width: 624px) {
    #logo {
        width: 148px;
        height: 66px;
    }

    /* Layout on small devices (phones) */
    .site-navigation {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /* Decreasing value for smooth transition effect */
    .fixed-header .site-navigation {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

/* ----------------------------------------------------------------------------- @import url(wallpaper-background.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
.page-section.container-wallpaper-background { padding: 0; }

.container-wallpaper-background { 
    max-height: 27vw;
    overflow-y: hidden; /* The content is clipped - and no scrolling mechanism is provided */
}

.container-slogan {
    position: absolute;
    right: 5%;
    top: 20%;
}

#slogan {
    font-size: 3.2vw;
    color: #ffffff !important;
    text-align: end;
}

/* Exception slogan looks too big on screen bigger than 1620px */
@media screen and (min-width: 1620px) {
    #slogan { font-size: 3vw; }
}

@media screen and (max-width: 624px) {
    .container-wallpaper-background { max-height: none; } /* Make full img (height) visible on screen */
    .container-wallpaper-background picture { display: flex; } /* If not set picture element is underneath img and causes extra white space... */
    #slogan { font-size: 4.5vw; }
}

/* ----------------------------------------------------------------------------- @import url(offers.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
.page-section.offers-students { padding-top: 0rem; } /* Decrease Space between Wallpaper Background and first Section */

.offer {
    border: 1px solid #000;
    padding: 0.75rem;
    height: 100%;
}

.offerings {
    grid-template-columns: 1fr 1fr; /* Two elements next to each other */
    column-gap: 5rem;
}

.sub-title {
    color: #373737;
    opacity: 0.7;
    font-size: 2.2rem;
}

.offering-text { padding-top: 0.5rem; }

.second-btn a {
    display: inline-block;
    height: 100% !important;
}

@media screen and (max-width: 1134px) {
    .offer h3, .sub-title, .first-btn, .second-btn { text-align: center; }
}

@media screen and (min-width: 984px) and (max-width: 1134px) {
    .offerings { column-gap: 2rem; }
}

@media screen and (min-width: 625px) and (max-width: 1134px) {
    .sub-title { font-size: 1.8rem; }
}

@media screen and (max-width: 983px) {
    .offerings {
        grid-template-columns: 1fr; /* Layout-switch to each element under other element */
        row-gap: 0.5rem !important;
    }

    /* Moves button up under the coresponding section */
    .offerings .first-btn {
        grid-row: 3;
        margin-bottom: 1rem;
    }   
}

@media screen and (max-width: 624px) {
    .sub-title { font-size: 1.5rem; }
}

/* ----------------------------------------------------------------------------- @import url(about.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-about-me {
    grid-template-columns: 1.25fr 1fr; /* Two columns; first one is 0.25x wider */
    column-gap: 1rem;
}

#portrait {
    width: 181px;
    height: 242px;
}

.centered-img {
    display: grid;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 1524px) {
    /* Enlarge portrait picture on big devices */
    #portrait {
        width: 271px;
        height: 363px;
    }
}

/* Used width of content 90% (container-fluid) */
@media screen and (max-width: 1524px) {
    .container-about-me { grid-template-columns: 1fr; } /* Change to one-column-layout only - section-heading grid element loses power of dividing grid into columns grid-column: 1/3; */

    .txt-about-me {
        border: 1px solid #000;
        padding: 0.75rem;
    }
}

/* On devices width wdth smaller than 985px the portrait picture takes it's default size (width=181px height=242px) */
@media screen and (min-width: 984px) and (max-width: 1524px){
    .container-about-me { column-gap: 6rem; }

    #portrait {
        width: 224px;
        height: 300px;
    }
}

/* Contact btns in offers section are being centered at max-width: 1134px */
@media screen and (max-width: 983px) {
    .container-about-me { column-gap: 0; } /* One-row-layout no column-gap required */

    /* Moves img up straight after section heading and before text about-me */
    .container-portrait {
        grid-row: 2;
        margin-bottom: 1.5rem;
    }

    .container-contact-btn { text-align: center; }
}

/* ----------------------------------------------------------------------------- @import url(contact-us.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-contact { 
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem; /* Only needed when there are more than one column - less than 1135px of width this not the case anymore */
}

.contact-details { margin-bottom: 2rem; }

.contact-form { grid-template-columns: 1fr 1fr; }

.contact-form > div { margin-bottom: 1rem; }

.contact-form .last-inputfield-child { margin-bottom: 0 !important; }
 
.entire-line { grid-column: 1/3; }

.fieldcontainer-static-width, .entire-line-layout-inputs, .txtarea-semi-line-layout { width: 75%; }

.fieldcontainer-email-width { width: 50%; }

.flex-layout.fieldcontainer-static-width { justify-content: space-between; }

.contact-form label {
    display: block;
    font-weight: 600;
}

.contact-form input[type=text], select { min-height: 26px; } /* Ensure that entering text is always visible */

.inputfield { width: 100%; }

.container-data-privacy {
    justify-content: flex-start; 
    margin-bottom: 0.5rem; 
}

.container-data-privacy input { margin-right: 1rem; } /* Separates checkbox and information text */

.container-data-privacy a { color: #d06f25; }

.field-required {
    color: #790000;
    margin-left: 4px;
}

.padding-left { padding-left: 2.5%; }

@media screen and (min-width: 1135px) {
    .contact-form .txtarea-entire-line-layout { width: 87.5%; } /* Textarea to go conform with other inputfields */
}

@media screen and (min-width: 625px) and (max-width: 1134px) {
    .contact-form > div { margin-left: 10%; }

    /* shift-left moves '* sind Pflichfelder' to the right */
    .contact-form > .entire-line, .shift-left { 
        margin-left: 5%; 
        width: 90%; /* If width would stay at 100% it would overlap the parent div and the email-input-field can't be adjusted to the width of the other input fields properly... */
    }

    .contact-form .txtarea-entire-line-layout { width: 93%; }
}

@media screen and (max-width: 1134px) {
    .container-contact { grid-template-columns: 1fr; } /* Moves form under contact details */

    .container-contact .section-heading, .contact-details p { text-align: center; }

    .container-grid-details  { grid-column: 1 / 3; } /* Contact-details row takes whole screen width to display */

    .contact-details {margin-bottom: 3rem;}

    .contact-form { padding: 0 0 1rem 0; } /* Insert extra space between form-bottom and section skillset on small devices */

    .contact-form label { font-weight: 400; }
}

@media screen and (min-width: 625px) {
    .contact-form .email { width: 75%; } /* Inputfield where email is entered */
}

@media screen and (max-width: 624px) {
    .container-contact { margin: 2rem auto; } /* If not set too less space between sections  */

    .contact-form { grid-template-columns: 1fr; } /* Changing to row-layout - no more inputfields next to each other! */

    .contact-form > div { margin-left: 0; }

    .contact-form, .shift-left { padding-left: 10% !important; } /* shift-left moves '* sind Pflichfelder' to the right */

    .entire-line { grid-column: 1 / 1; }  /* Switch to row-layout - no more columns and elements next to each other! */

    .container-form .fieldcontainer-dynamic-width { width: 80%; }

    .container-flex-input-fields.semi-line-layout-inputs { width: 80%; } /* Reduces space on small devices between input fields on the same line */

    .fieldcontainer-email-width { width: 75%; }
}

/* ----------------------------------------------------------------------------- @import url(skillset.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
.flex-layout.container-icons { justify-content: center; }

.container-skillset h2, .container-skill { text-align: center; }

.container-icons { margin-top: 2.5rem; } /* Add space between title and skill-icons */

.container-icon {
    display: inline-block;
    overflow: hidden;
    padding: 25px !important;
    background-color: #BDCDD6;
    border-radius: 100% 100% 100% 100%; /* Does round circle effect */
    line-height: 1;
}

.skill-definition {
    font-weight: 600;
    color: #000000 !important;
}

@media screen and (min-width: 625px) {
    .flex-layout.container-icons { column-gap: 5%; } /* Only required when layout is row (default) */
}

@media screen and (max-width: 624px) {
    .container-skillset{ padding: 2% 0; } /* Enlarge space-separation to top and bottom section */

    .container-skillset h2 { line-height: 1.2em; }

    .flex-layout.container-icons { 
        flex-direction: column; /* Switch to column layout */
        row-gap: 2rem;
    }
}

/* ----------------------------------------------------------------------------- @import url(layout.css); ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- START page layout defaults ------------------------------------------------------------------------------------------------------------------------------------------------- */
#page-container {
    margin-top: -1px;
    overflow-y: hidden;
}

.page-section {
    position: relative; /* Affects slogan if not set slogan jumps as site is being scrolled */
    padding: 3% 0;
    background-color: #fff;
}

.row { padding: 2% 0; }

.row::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}
/* ----------------------------------------------------------------------------- START page layout defaults ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- START element definitions defaults ------------------------------------------------------------------------------------------------------------------------------------------------- */
.fixed-header {
    top: 0;
    z-index: 200000;
}

.container-back-to-top {
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 99;
    text-align: end;
}

.container-back-to-top button {
    background-color: transparent;
    background-image: url('../img/icons/back_to_top_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain; /* What does this statement do? */
    border: none;
    min-width: 30px;
    min-height: 30px;
}

.page-button {
    color: #fff;
    background-color: #592130;
    border-color: #592130;
    text-transform: uppercase;
    text-decoration: none;
}
/* ----------------------------------------------------------------------------- START element definitions defaults ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- START animations ------------------------------------------------------------------------------------------------------------------------------------------------- */
.animation { transition: margin-top 0.4s ease-in-out; }

.to-top-button { transition: opacity 3s; }

.fadeIn#to-top-button {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeOut#to-top-button {
    animation: fadeOutAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
/* ----------------------------------------------------------------------------- END animations ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- START helper functions ------------------------------------------------------------------------------------------------------------------------------------------------- */
.border-right { border-right: 1px solid black; }

.section-colored { background-color: #BDCDD6; }

.txt-with-lBreaks { margin-bottom: 0.6em; } /* Is being unsed in section about me to separate better some parts of the text */

.hidden { display: none; }
/* ----------------------------------------------------------------------------- END helper functions ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- START footer styling ------------------------------------------------------------------------------------------------------------------------------------------------- */
.site-footer {
    background-color: #BDCDD6;
    padding: 0.5rem;
}

.meta-nav .flex-layout {
    column-gap: 1rem;
    list-style: none;
    align-items: center; /* Vertical Alignment */
}

.meta-nav .flex-layout .border-right { padding-right: 0.5rem; } /* Inserts small space before border right */

.meta-nav p, .meta-nav a {
    font-size: 12px;
    color: #000;
}

.meta-nav a {
    font-weight: 600;
    text-decoration: none;
}

.meta-nav p {
    display: inline-block;
    overflow-wrap: anywhere;
    height: fit-content;
}

.flex-layout.container-copyright { column-gap: 0; }
/* ----------------------------------------------------------------------------- END footer styling ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- START layouts ------------------------------------------------------------------------------------------------------------------------------------------------- */
.grid-layout {
    display: grid;
    row-gap: 1rem;
}

.flex-layout { display: flex; }
/* ----------------------------------------------------------------------------- END layouts ------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1135px) {
    .page-button { padding: .3rem 1rem; }
}

@media screen and (min-width: 625px) and (max-width: 1134px) {
    .page-button { padding: .3rem 1rem; }
}

@media screen and (min-width: 984px) {
    .section-heading { grid-column: 1/3; } /* Title extends itself over full available width */

    .container-about-me .contact-btn { margin-top: 1rem; } /* Section about-me */
}

@media screen and (max-width: 624px) {
    .section-heading, .offer { text-align: center; }

    #section-after-wallpaper { margin-top: 1rem; }

    .page-button { padding: .6rem 1rem; }

    #no-padding-right { padding-right: 0; }
}

@media screen and (max-width: 380px) {
    .container-copyright { flex-direction: column; }
}