.page-section.container-wallpaper-background { padding: 0; }

.container-wallpaper-background { 
    max-height: 27vw;
    overflow-y: hidden; /* The content is clipped - and no scrolling mechanism is provided */
}

.container-slogan {
    position: absolute;
    right: 5%;
    top: 20%;
}

#slogan {
    font-size: 3.2vw;
    color: #ffffff !important;
    text-align: end;
}

/* Exception slogan looks too big on screen bigger than 1620px */
@media screen and (min-width: 1620px) {
    #slogan { font-size: 3vw; }
}

@media screen and (max-width: 624px) {
    .container-wallpaper-background { max-height: none; } /* Make full img (height) visible on screen */
    .container-wallpaper-background picture { display: flex; } /* If not set picture element is underneath img and causes extra white space... */
    #slogan { font-size: 4.5vw; }
}