.meta-nav {
    vertical-align: middle;
    float: left;
    width: 100%;
    line-height: 0;
    /* padding: 0.5rem; */

    /* border: 1px solid green; */
}

.meta-nav li {
    display: inline-block;
    padding-right: 0.5rem;
    border-right: 1px solid black;
}

.meta-nav li:last-child {
    border: none;
}

.meta-nav p, .meta-nav a {
    font-size: smaller;
    color: #000;
}


.meta-nav a {
    text-decoration: none;
}

.meta-nav p {
    padding: 0;
    display: inline-block;
}

.menu-nav img {
    vertical-align: bottom;
    margin-right: 0.5rem;
    /* border: 1px solid yellow; */
}

.container {
    position: relative;
}

.container img {
    display: block;
    max-width: 100%;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text h1, .centered-text p {
    text-align: center;
    color: #fff;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0px;
    transition: all 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.home {
    min-height: 700px;
    background: #fff;
}

.flexslider {
    border: 2px solid yellow;
}

.home .flexslider {
    border: none;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.text {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    margin-top: -212px;
    text-align: center;
    color: white;

    border: 2px solid red;
}

.site-footer {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    /* text-align: right; */
    margin: 1rem 0;
}

.site-footer a {
    color: white;
    text-decoration: none;
}